<!DOCTYPE html>
<html>

<% include partials/head %>

<body>
  <% include partials/header %>
  <div class="page-type">
    <h2>Saved Books</h2>
  </div>
  <main>

    <% books.forEach( book => { %>
    <div class="book-card">
      <img src="<%= book.image_url %>">
      <p class="title">
        <%= book.title %>
      </p>
      <p class="author">
        <%= book.author %>
      </p>

      <form action="/books/<%= book.id %>" method="get">

        <button type="submit">View Details</button>
      </form>

    </div>
    <% }); %>

    <p> Number of books:
      <%= books.length %>
    </p>

  </main>

  <% include partials/footer %>

</body>

</html>