<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book App</title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/base.css">
</head>

<body>
    <% include ../partials/header %>
    <div class="page-type">Saved Books</div>
    <main>

        <div class="book-card">
            <img src="<%= detail[0].image_url %>">
            <p class="title">
                <%= detail[0].title %>
            </p>
            <p class="author">
                <%= detail[0].author %>
            </p>

            <p class="description">
                <%= detail[0].description %>
            </p>
            <p class="isbn">
                ISBN: <%= detail[0].isbn %>
            </p>
        </div>


    </main>
    <footer></footer>

</body>

</html>